body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}     

#map {
    height: 400px; 
    width: 400px;
}

#rastrowe {
    height: 400px; 
    width: 400px;
}

#rastrowe_podzielone{
    height: 400px; 
    width: 400px;
    background-color: white;
}

#ulozone{
    height: 400px; 
    width: 400px;
}

#tabele {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-items: center;          
}

table {
    width: 20%;
    border-collapse: collapse;
    margin: 40px;
   
}

table, th, td {
    border: 3px ridge black;
}

td {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    padding:0px;
    padding-left:1px;
    padding-right:1px;
    margin:0px;
}

.fragment-canvas {
    display: block;
    max-width: 100%;
    height: auto;
    cursor: grab;
    box-sizing: border-box;


}

.dropzone {
    background-color: #ff000000;
    position: relative;
}

.dropzone-over {
    background-color: #f2f8f2;
}

button {
    margin: 8px 4px;
    padding: 6px 10px;
    cursor: pointer;
}
td.correct {
    box-shadow: inset 0 0 0 3px rgb(0, 255, 8);
}
td.incorrect {
    box-shadow: inset 0 0 0 3px rgb(255, 17, 0);
}